@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #151515;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #4E31AA;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    background: var(--cor-primaria);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

h1{
    font-family: var(--fonte-primaria);
    font-size: 32px;
    color: var(--cor-secundaria);
}

form{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 20px;
}

label{
    font-family: var(--fonte-primaria);
    font-size: 32px;
    color: var(--cor-secundaria);
}

input{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--cor-terciaria);
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

textarea{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 18px;
    height: 200px;
    padding: 5px;
    border-radius: 5px;
    resize: vertical;
    outline: none;
    border: 2px solid var(--cor-terciaria);
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

div{
    display: flex;
    justify-content: center;
}

div input{
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 22px;
    padding: 5px;
    width: 50%;
    height: 50px;
    cursor: pointer;
}

div input:hover{
    background: var(--cor-terciaria);
}

.conteudo{
    display: block;
    padding: 45px;
    width: 40%;
    background: var(--cor-terciaria);
    border-radius: 30px;
    box-shadow: #2b2a2a 10px 12px;
}

p{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 22px;
    color: var(--cor-secundaria);
}

a{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 22px;
    color: var(--cor-secundaria);
    padding: 5px;
}

@media (max-width: 800px){
    form{
        width: 300px;
        gap: 15px;
    }
    input{
        height: 15px;
    }
    label{
        font-size: 25px;
    }
    div input{
        width: 35%;
        font-size: 18px;
    }
}